<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/index :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class="my-3">Guestbook Modify Page</h1>

    <form th:action="@{/guestbook/modify}" method="post">
      <div class="form-group">
        <label for="gno">gno</label>
        <input type="text" class="form-control" name="gno" placeholder="gno" id="gno" th:value="${dto.gno}">
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" placeholder="title" id="title" th:value="${dto.title}" >
      </div>
      <div class="form-group">
        <label>Content</label>
        <textarea class="form-control" name="content" placeholder="Content">[[${dto.content}]]</textarea>
      </div>
      <div class="form-group">
        <label>Writer</label>
        <input type="text" class="form-control" name="writer" placeholder="Writer" th:value="${dto.writer}">
      </div>
      <div class="form-group">
        <label>regDate</label>
        <input type="text" class="form-control" name="regDate" placeholder="regDate" th:value="${dto.regDate}">
      </div>

      <div class="form-group">
        <label>modDate</label>
        <input type="text" class="form-control" name="modDate" placeholder="modDate" th:value="${dto.modDate}">
      </div>
      <input type="hidden" name="page" th:value="${pageDto.page}" />
      <input type="hidden" name="size" th:value="${pageDto.size}" />
      <button type="submit" class="btn btn-primary" onclick="return confirm('수정하시겠습니까?')">Modify</button>
      <a th:href="@{/guestbook/list(page = ${pageDto.page}, size = ${pageDto.size})}" class="btn btn-primary">List</a>
      <button type="submit" class="btn btn-danger" formaction="remove" onclick="return confirm('삭제하시겠습니까?')">Remove</button>
    </form>
  </th:block>
</th:block>
</html>